.form-container { 
    width: 100% !important; 
    max-width: 400px !important; 
}

/* Estilização para o seletor de cor seguir o padrão Prof Time */
.color-picker-input {
    width: 100%;
    height: 45px; /* Mesma altura dos seus outros inputs */
    padding: 5px;
    border: 1px solid var(--color-accent);
    border-radius: 8px;
    background-color: var(--color-input-bg);
    cursor: pointer;
    transition: border-color 0.2s;
}

.color-picker-input::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-picker-input::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
}